@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

body{
    margin: 0px;
    padding: 0px;
}

#estacao{
    background-color: white;
    width: 700px;
    position: relative;
    left: 600px;
    top: 100px;
}

#informacoes{
    background-color: lightgrey;
    width: 700px;
    height: 750px;
    border-radius: 0px 0px 20px 20px;
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', 'Arial', sans-serif;
    padding: 30px;
}

#nome h3{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 45px;
    font-weight: 700;
    padding: 20px;
}

#nome{
    background-color: #50c878;
    width: 760px;
    height: 125px;
    display: flex;
    flex-direction: column;
    border-radius: 20px 20px 0px 0px;
}


#nome img{
    width: 50px;
}

#titulo{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90px;
    padding-top: 5px;
}


#linha5 {
    width: 20px;
    margin-left: 10px;
}

.servicos{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.icones{
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    left: 212px;
    top: 190px;
}

.icones img{
    width: 50px;
    padding: 10px;
    margin-bottom: 10px;
}

#status{
    color: red;
}

#comentarios{
    background-color: white;
    width: 500px;
    height: 250px;
    position: absolute;
    top: 650px;
    left: 130px;
}

#servico{
    font-weight: bold;
    margin-right: 5px;
}

#sobre{
    position: absolute;
    top: 350px;
}

#quebra{
    width: 759px;
    background-color: white;
    border-color: white;
}